Logic-app-code.txt
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition": {
                "actions": {
                    "Post_an_article": {
                        "inputs": {
                            "body": {
                                "commentary": "@body('Parse_JSON')['trdResult']",
                                "content": {
                                    "article": {
                                        "description": "Post by LinkedLn Bot",
                                        "source": "@body('Parse_JSON')['fthResult']",
                                        "thumbnail": "@body('Parse_JSON')['fifthResult']",
                                        "title": "@body('Parse_JSON')['sndResult']"
                                    }
                                },
                                "distribution": {
                                    "feedDistribution": "MAIN_FEED"
                                },
                                "isReshareDisabledByAuthor": false,
                                "lifecycleState": "PUBLISHED",
                                "visibility": "Public"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['linkedinv2']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/people/rest/posts"
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    },
                    "Send_an_email_(V2)": {
                        "inputs": {
                            "body": {
                                "Body": "<p>Hi Ola<br>\n<br>\nThe Pick was @{body('Parse_JSON')['sixthResult']}<br>\n<br>\nLinkedIn result = @{body('Parse_JSON')['fstResult']}<br>\nTitle: @{body('Parse_JSON')['sndResult']}<br>\nSummary: @{body('Parse_JSON')['trdResult']}<br>\nLink: @{body('Parse_JSON')['fthResult']}<br>\nImage url: @{body('Parse_JSON')['fifthResult']}<br>\n<br>\nStay Blessed</p>",
                                "Importance": "Normal",
                                "Subject": "LinkedLnBot",
                                "To": "olaowolabi@hotmail.co.uk"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/v2/Mail"
                        },
                        "runAfter": {
                            "Post_an_article": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    }
                },
                "else": {
                    "actions": {
                        "Send_an_email_(V2)_2": {
                            "inputs": {
                                "body": {
                                    "Body": "<p>The Linkedln bot failed, due to an issue<br>\n<br>\nthe pick blogpicker = @{body('Parse_JSON')['trdResult']}<br>\n<br>\nstatus @{body('Parse_JSON')['fstResult']}<br>\n<br>\nhuhu: @{body('Parse_JSON')['sixthResult']}</p>",
                                    "Importance": "Normal",
                                    "Subject": "Linkedin bot fail",
                                    "To": "olaowolabi@hotmail.co.uk"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            },
                            "runAfter": {},
                            "type": "ApiConnection"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@body('Parse_JSON')['fstResult']",
                                "Success"
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "Function1": {
                "inputs": {
                    "body": "@variables('TodayAsInt')",
                    "function": {
                        "id": "/subscriptions/931d17ac-a150-4cdf-97d0-5f4242b3e66d/resourceGroups/Bulbasaur/providers/Microsoft.Web/sites/CrawlApp100/functions/Function1"
                    }
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "type": "Function"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "TodayAsInt",
                            "type": "integer",
                            "value": "@dayOfWeek(utcNow())"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@body('Function1')",
                    "schema": {
                        "$schema": "http://json-schema.org/draft-07/schema#",
                        "properties": {
                            "fifthResult": {
                                "type": "string"
                            },
                            "fstResult": {
                                "type": "string"
                            },
                            "fthResult": {
                                "type": "string"
                            },
                            "sixthResult": {
                                "type": "string"
                            },
                            "sndResult": {
                                "type": "string"
                            },
                            "trdResult": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "fstResult",
                            "sndResult",
                            "trdResult",
                            "fthResult",
                            "fifthResult",
                            "sixthResult"
                        ],
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Function1": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "evaluatedRecurrence": {
                    "frequency": "Day",
                    "interval": 1,
                    "timeZone": "Pacific Standard Time"
                },
                "recurrence": {
                    "frequency": "Day",
                    "interval": 1,
                    "timeZone": "Pacific Standard Time"
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "linkedinv2": {
                    "connectionId": "/subscriptions/931d17ac-a150-4cdf-97d0-5f4242b3e66d/resourceGroups/Bulbasaur/providers/Microsoft.Web/connections/linkedinv2",
                    "connectionName": "linkedinv2",
                    "id": "/subscriptions/931d17ac-a150-4cdf-97d0-5f4242b3e66d/providers/Microsoft.Web/locations/eastus/managedApis/linkedinv2"
                },
                "office365": {
                    "connectionId": "/subscriptions/931d17ac-a150-4cdf-97d0-5f4242b3e66d/resourceGroups/Bulbasaur/providers/Microsoft.Web/connections/office365",
                    "connectionName": "office365",
                    "id": "/subscriptions/931d17ac-a150-4cdf-97d0-5f4242b3e66d/providers/Microsoft.Web/locations/eastus/managedApis/office365"
                }
            }
        }
    }
}
